<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <label for="name">Nombre: </label>
  <input id="name" type="text" [formControl]="name" required>

  <label for="last-name">Apellido: </label>
  <input id="last-name" type="text" formControlName="lastName" required>

  <label for="company">Empresa: </label>
  <input id="company" type="text" [formControl]="company" required>

  <label for="rol">Rol / Cargo: </label>
  <input id="rol" type="text" [formControl]="rol" required>

  <label for="email">Correo </label>
  <input id="email" type="text" [formControl]="email" required>

  <div formGroupName="incidencia">
    <h2>Datos de incidencia</h2>

    <label for="tituloIncidencia">Título de incidencia: </label>
    <input id="tituloIncidencia" type="text" formControlName="tituloIncidencia" required>

    <label for="detalleIncidencia">Detalle de incidencia: </label>
    <input id="detalleIncidencia" type="text" formControlName="detalleIncidencia" required>
  </div>

  <p>Complete el formulario para activar el botón de enviar.</p>
  <button type="submit" [disabled]="!profileForm.valid">Enviar solicitud</button>
</form>

<hr>

<!-- <p>Form Value: {{ profileForm.value | json }}</p>

<p>Form Status: {{ profileForm.status }}</p>

<button type="button" (click)="updateProfile()">Update Profile</button> -->
